body {
  background: rgb(221, 214, 214);
  font-family: sans-serif;
  padding: 10px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 10px;
  
}

.title {
  background: #e3f4ff;
  margin: 10px auto;
  margin-top: 0;
  padding: 10px;
  font-size: 100%; 
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px auto;
  margin-bottom: 0;
  text-align: center;


}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  margin: auto;
  display: block;
}